<!-- <div class="row">
    <div class="col-md-6 offset-md-3">
    <mat-card>
        <div class="row">
            <label class="col-sm-4">Id: </label>
            <div class="col-sm-8"> {{candidateDetails?.id}} </div>
        </div>
        <div class="row">
            <label class="col-sm-4">Name: </label>
            <div class="col-sm-8"> {{candidateDetails?.name}} </div>
        </div>
        <div class="row">
            <label class="col-sm-4">Department: </label>
            <div class="col-sm-8"> {{candidateDetails?.department}} </div>
        </div>
        <div class="row">
            <label class="col-sm-4">Joining Date: </label>
            <div class="col-sm-8"> {{candidateDetails?.joining_date}} </div>
        </div>

    </mat-card>
    </div>
</div> -->
